/*declarar siempre arriba*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

body {
      margin: 0;
      padding: 0;
      font-size: 14px;
      background-color: white;
      background-image: url(../imagenes/fondo.jpg);
      background-repeat: no-repeat; /*que no repita la imgaen de fondo, se puede elegir un eje y que se repita solo en ese eje*/
      background-size: cover; /*para que imagen cubra todo el fondo, guarda que puede perder definicion*/
      background-attachment: fixed; /*imagen queda siempre en el mismo lugar aunque scrollee*/
      background-position: center; /*posiciona a la imagen, si pongo porcentaje lo coloca en un lugar exacto  algo%(X) algo%(Y)*/

}

.blancoletra {color: white;}
.subrayado {text-decoration: underline;}
.letraheader {font-family: 'Playfair Display', serif;}
.letracontacto {font-family: 'Playfair Display', serif;}


a:hover{text-decoration:underline;}
a{text-decoration: none;
color: white}


header {height: 120px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        background-color: black;
        color: white
}

.cajaderedes {height: 50px;
             background-color: black;
             display: flex; /*las propiedades flex van siempre a la caja no al elemento*/
             justify-content: center;
             justify-content: space-around;
             align-items: center;
}

nav {
    padding: 5px;
    padding-left: 20px;
    background-color: black;
    color: white;
}

.frase {background-color: black;
        height: 170px;
        display: flex;
        justify-content: space-between;
}
.frasepina {
            padding: 15px;
            padding-left: 30px;
            font-family: 'Cedarville Cursive', cursive;
            font-size: 30px;
            color: white;
}

.pina {
      font-size: 20px;
      padding: 20px;
      padding-right: 50px;
      color: white;
      display: flex;
      align-self: flex-end;
}

.pina:hover {
  transform: scale(1.2);
}

.descripcion{
  background-color: white;
  color: black;
  width: 50%;
  height: 50%;
  padding: 20px;
  padding-right: 50px;
  padding-left: 30px;
  display: flex;
  align-self: center;
  justify-content: center;
  object-fit: cover;
  overflow: hidden;
}

.descripcion:hover {
  transform: scale(1.2);
}

.principal {
        background-color: black;
        display: flex;
        justify-content: center;
        justify-content: space-around;
}

footer {height: 250px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        background-color: black;
        color: white
}

.menu{height: 40px;
     background-color: black;
     display: flex;
     justify-content: center;
     justify-content: space-around;
     align-items: center;
}

.mitad{width: 50%;
      height: 50%;
      color: white;
}

.infodesarrollador{display: flex;
                  background-color: black;
                  flex-direction: column;
                  justify-content: center;
}

/*ICONOS*/
.iconopagina{width: 50px;
}

.iconoredes {width: 50px;
}

.iconowhats {width: 50px;
             position: fixed;
             bottom: 10px;
             right: 15px;
}

/*IMAGENES PORTFOLIO*/
{box-sizing: border-box;}
img{width: 100%;}
img:hover {
  transform: scale(1.5);
}
.row{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;/*cuando no quepa se mueve*/
}
.columna{
    flex: 30%;
    padding: 5px;
}
.columna img{
    margin-top: 5px;
}

/*MEDIA QUERIES*/
@media (max-width: 992px){
  .columna { flex: 30%; }
}
@media (max-width: 768px){
  .columna { flex: 50%; }
}
@media (max-width: 576px){
  .columna { flex: 100%; }
}
@media (min-width: 768px) {
  body { font-size: 15px; }
}
@media (min-width: 992px) {
  body { font-size: 16px; }
}
@media (min-width: 1200px) {
  body { font-size: 17px; }
}
@media (max-width: 575px) {
  .video {display: none;}
  .frasepina {font-size: 16px;}
}
